<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Orders</li>
  </ol>
</nav>

<div class="container">
  <select class="form-select" [(ngModel)]="selectedCustomer">
    <option selected disabled>Select Customer</option>
    <option value="{{customer.id}}" *ngFor="let customer of customerList">{{customer.name}}</option>
  </select>
</div>
<br>
<div class="container">
  <select class="form-select" [(ngModel)]="selectedProduct" (change)="selectProduct()">
    <option selected disabled>Select Products</option>
    <option value="{{product.id}}" *ngFor="let product of productList">{{product.name}} {{product.weight}}g (Rs{{product.price}})</option>
  </select>
</div>
<br>
<div class="container-fluid">
  <div class="container">
    <table  class="table table-striped table-bordered table-sm table-hover" cellspacing="0" width="100%">
      <thead>
      <tr>
        <th class="th-sm">Product ID</th>
        <th class="th-sm">Quantity</th>
        <th class="th-sm">Remove</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let detail of orderDetailList" (click)="rowClicked(detail)"  placement="bottom-left" ngbPopover="" popoverTitle="{{selectedProductName}}">
        <td>{{detail.productId}}</td>
        <td>{{detail.quantity}}</td>
        <td><button class="btn btn-outline-danger" (click)="removeFromOrderList(detail)"><i class="fa fa-trash-o fa-lg"></i></button></td>
      </tr>
      </tbody>
    </table>
    <br>
    <div class="row">
      <button class="btn btn-success col-6" (click)="onSubmit()">Save Order</button>
      <h3 class="col-6">Total Price: Rs.{{totalPrice}}</h3>
    </div>
  </div>
</div>
<br>
<div class="container-fluid">
  <table class="table table-bordered table-striped">
    <thead>
    <tr class="bg-warning">
      <th scope="col">Customer Name</th>
      <th scope="col">Address</th>
      <th scope="col">Contact Number</th>
      <th scope="col">Order Details</th>
      <th scope="col">Placed Date</th>
      <th scope="col">Order Status</th>
      <th scope="col">Delete Order</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of ordersList  | slice: (page-1) * pageSize : page * pageSize">
      <td>

        <ngb-highlight [result]="order.customer.name"></ngb-highlight>
      </td>
      <td><ngb-highlight [result]="order.customer.address"></ngb-highlight></td>
      <td><ngb-highlight [result]="order.customer.contactNumber | number"></ngb-highlight></td>
      <td>
        <table  class="table table-striped table-bordered table-sm table-hover" cellspacing="0" width="100%">
          <thead>
          <tr>
            <th class="th-sm">Product Name</th>
            <th class="th-sm">Quantity</th>
            <th class="th-sm">Price (per 1)</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let detail of order.order.orderDetailList">
            <td>{{detail.name}}</td>
            <td>{{detail.quantity}}</td>
            <td>{{detail.price}}</td>
          </tr>
          </tbody>
        </table>
      </td>
      <td>{{order.order.dateTime}}</td>
      <td>
        <button class="btn btn-outline-success" [disabled]="order.order.completed" (click)="updateOrder(order.order.orderId)">Complete Order</button>
      </td>
      <td>
        <button class="btn btn-outline-danger" (click)="deleteOrder(order.order.orderId)">Delete Order</button>
      </td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="ordersList.length"></ngb-pagination>
</div>
